@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}
header {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
header li {
  padding-right: 50px;
  list-style-type: none;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  margin-top: 25px;
}
header ol {
  margin-right: 40px;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header ol a:hover {
  background-color: #2d3436;
}
.first {
  font-family: "Urbanist", sans-serif;
  font-size: 35px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(bgtext.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.active {
  opacity: 0;
}
#znak1 {
  position: absolute;
  margin: 0;
  top: 810px;
  letter-spacing: -10px;
  opacity: 0.5;
}
.dol {
  position: absolute;
  margin: 0;
  top: 900px;
  letter-spacing: -12px;
  opacity: 0.5;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.two div {
  position: absolute;
}
.two .prog {
  top: 195%;
  left: 32%;
  border-radius: 30px;
  min-height: 85%;
}
.two .fa-github,
.two .fa-js,
.two .fa-html5,
.two .fa-css3 {
  position: absolute;
  font-size: 60px;
}
.two .fa-html5 {
  top: 20%;
  left: 16%;
}
.two .fa-html5 div {
  position: absolute;
  width: 550px;
  height: 35px;
  top: 10px;
  left: 150%;
  -webkit-box-shadow: 1px 1px 15px 5px black;
  box-shadow: 1px 1px 15px 5px black;
  border-radius: 100px;
  -webkit-transition: 3s;
  transition: 3s;
}
.two .fa-html5 div span {
  position: absolute;
  width: 10%;
  height: 100%;
  border-radius: 100px;
  background-color: #e67e22;
  -webkit-transition: 3s;
  transition: 3s;
  text-align: center;
  font-size: 30px;
  color: white;
}
.two .fa-css3 {
  top: 35%;
  left: 15%;
}
.two .fa-css3 div {
  position: absolute;
  width: 550px;
  height: 35px;
  top: 10px;
  left: 125%;
  -webkit-box-shadow: 1px 1px 15px 5px #2d3436;
  box-shadow: 1px 1px 15px 5px #2d3436;
  border-radius: 100px;
  -webkit-transition: 3s;
  transition: 3s;
}
.two .fa-css3 div span {
  position: absolute;
  width: 10%;
  height: 100%;
  border-radius: 100px;
  background-color: #3498db;
  -webkit-transition: 3s;
  transition: 3s;
  text-align: center;
  font-size: 30px;
  color: white;
}
.two .fa-js {
  top: 50%;
  left: 15%;
}
.two .fa-js div {
  position: absolute;
  width: 550px;
  height: 35px;
  top: 10px;
  left: 145%;
  -webkit-box-shadow: 1px 1px 15px 5px #2d3436;
  box-shadow: 1px 1px 15px 5px #2d3436;
  border-radius: 100px;
  -webkit-transition: 3s;
  transition: 3s;
}
.two .fa-js div span {
  position: absolute;
  width: 10%;
  height: 100%;
  border-radius: 100px;
  background-color: #f1c40f;
  -webkit-transition: 3s;
  transition: 3s;
  text-align: center;
  font-size: 30px;
  color: white;
}
.two .fa-github {
  top: 65%;
  left: 15%;
}
.two .fa-github div {
  position: absolute;
  width: 550px;
  height: 35px;
  top: 10px;
  left: 125%;
  -webkit-box-shadow: 1px 1px 15px 5px black;
  box-shadow: 1px 1px 15px 5px black;
  border-radius: 100px;
  -webkit-transition: 3s;
  transition: 3s;
}
.two .fa-github div span {
  position: absolute;
  width: 10%;
  height: 100%;
  border-radius: 100px;
  background-color: black;
  -webkit-transition: 3s;
  transition: 3s;
  text-align: center;
  font-size: 30px;
  color: white;
  text-transform: lowercase;
}
.two .bck1 {
  background-color: black;
  height: 100vh;
  width: 1px;
  left: 50%;
  top: 110%;
  z-index: 1;
  opacity: 0.1;
  border-radius: 30px;
}
.two .abtTXT,
.two .progTXT {
  font-family: "Poppins", sans-serif;
  position: absolute;
  color: white;
  margin-top: 10%;
  left: 32%;
  width: 350px;
  font-size: 3rem;
  -webkit-text-stroke: 0.1vw black;
}
.two .progTXT {
  margin-top: 51%;
  left: 31%;
}
.two .abtTXT:hover,
.two .progTXT:hover {
  color: red;
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
}
.two .abt {
  margin-top: 60%;
  margin-top: 17%;
  left: 35%;
  width: 450px;
  z-index: 2;
  opacity: 0;
}
.two .abt > p {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  text-transform: uppercase;
  color: #2d3436;
}
.two img {
  position: absolute;
  left: 480px;
  top: 50px;
  width: 150px;
  border-radius: 20px;
}
.two .bck2 {
  z-index: 1;
  margin-top: 15%;
  width: 45%;
  height: 470px;
  background-color: #2d3436;
  -webkit-box-shadow: 1px 1px 7px 5px black;
  box-shadow: 1px 1px 7px 5px black;
  left: 29%;
  opacity: 0.2;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .first {
    font-size: 20px;
    background-size: 65em;
  }
  .prog {
    top: 170%;
    left: 7%;
    border-radius: 30px;
    min-height: 85%;
  }
  img {
    left: 100px;
    width: 100px;
  }
  .two > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bck2 {
    top: 110%;
    width: 75%;
    left: 15%;
  }
}
/*# sourceMappingURL=style.css.map */
